<footer>
    <div class="footer">
        <div class="row">
            <ul>
                <li>  <a href="https://www.instagram.com/ufukccicek/" target="_blank"><i class="fa fa-instagram"></i></a> </li>
                <li>  <a href="https://github.com/ufukcicekdev" target="_blank"><i class="fa fa-github"></i></a> </li>
                <li>  <a href="https://www.linkedin.com/in/ufuk-%C3%A7i%C3%A7ek-9807991b1/" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
            </ul>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">Home</a></li>
            </ul>
        </div>

        <div class="row">
            Designed By: Ufuk
        </div>
    </div>
</footer>