{% extends 'core/base.html' %}

{% block container %}


<div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    <div class="title-page">
        {% if category %}
            <h2 class="text-center category-title" style="color: aliceblue;">{{ category }}</h2>
        {% else %}
            <h1 class="text-center" style="color: aliceblue;">Discover AI Innovations</h1>
        {% endif %}
    </div>
    
    <div class="search col-12 col-md-6 mx-auto mt-3">
        <form class="input-group" action="{% url 'search_view' %}" method="get">
            <input type="text" name="q" class="form-control" placeholder="Search for something..." aria-label="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    
    <div class="counts col-12 mt-3">
        {% if query %}
            <h5 class="" style="color: aliceblue;">Show Items ({{ query.count }})</h5>
        {% elif products %}
            <h5 class="" style="color: aliceblue;">Show Items ({{ products.count }})</h5>
        {% endif %}
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 py-5">
    {% if query %}
        {% for product in page_obj %}
        <div class="col">
            <div class="card">
                <div class="image-container">
                    <img src="{{ product.imageSrc }}" width="250" height="250" class="card-img-top" alt="{{ product.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;" title="{{product.title}}">
                        {{ product.title | title }}  <a href="{{ product.url }}" target="_blank" class="btn btn-primary btn-block mt-2">TRY IT NOW</a>
                    </h5>
                    <h6>{{ product.view_count }}<i class="fa fa-eye" style="font-size:20px"></i></h6>
                    <p class="card-text">{{ product.description | truncatechars:200 }}</p>
                    <p class="card-category" title="{{ product.category.title }}"
                       style="background-color: grey; color: white; padding: 5px; border-radius: 15px; text-align: center; display: inline-block; width: fit-content;">
                        {{ product.category.title }}
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <div>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary btn-block">SHOW MORE</a>
                       
                    </div>
                    <div>
                        <button class="btn btn-secondary copy-link-button" data-link="https://aibridge.tech{{ product.get_absolute_url }}">
                            <i class="fa fa-share"></i> Share Link
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% elif products %}
        {% for product in page_obj %}
        
        <div class="col">
            <div class="card">
                <div class="image-container">
                    <img src="{{ product.imageSrc }}" width="250" height="250" class="card-img-top" alt="{{ product.title }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;" title="{{product.title}}">
                        {{ product.title | title }}  <a href="{{ product.url }}" target="_blank" class="btn btn-primary btn-block mt-2">TRY IT NOW</a>
                    </h5>
                    <h6>{{ product.view_count }}<i class="fa fa-eye" style="font-size:20px"></i></h6>
                    <p class="card-text">{{ product.description | truncatechars:200 }}</p>
                    <p class="card-category" title="{{ product.category.title }}"
                       style="background-color: grey; color: white; padding: 5px; border-radius: 15px; text-align: center; display: inline-block; width: fit-content;">
                        {{ product.category.title }}
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <div>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary btn-block">SHOW MORE</a>
                       
                    </div>
                    <div>
                        <button class="btn btn-secondary copy-link-button" data-link="https://aibridge.tech{{ product.get_absolute_url }}">
                            <i class="fa fa-share"></i> Share Link
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% endfor %}
    {% endif %}
</div>



<div class="pagination-container">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num == page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">Last &raquo;</a>
                </li>
            {% elif num == page_obj.paginator.page_range.0 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">1</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link pagination-ellipsis">&hellip;</span>
                </li>
            {% elif num == page_obj.paginator.page_range.1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% elif num == page_obj.paginator.page_range|length %}
                <li class="page-item disabled">
                    <span class="page-link pagination-ellipsis">&hellip;</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% endif %}
    </ul>
</div>



<script>
    // Kopyalama işlemi için gerekli JavaScript kodu
    const copyLinkButtons = document.querySelectorAll('.copy-link-button');

    copyLinkButtons.forEach(button => {
        button.addEventListener('click', function () {
            const link = button.getAttribute('data-link');
            
            // Kopyalama işlemi
            const tempInput = document.createElement('input');
            tempInput.value = link;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            // Kopyalandı bildirimi
            button.innerHTML = '<i class="fa fa-check"></i> Copied!';
            setTimeout(() => {
                button.innerHTML = '<i class="fa fa-share"></i> Share Link';
            }, 2000);
        });
    });
</script>


{% endblock container %}